DB_HOST=seu-host-postgres
DB_PORT=5432
DB_NAME=seu-banco
DB_USER=seu-usuario
DB_PASSWORD=sua-senha
DB_SSL=false
UMOV_API_TOKEN=sua-chave-da-api-umov
UMOV_API_BASE_URL=https://api.umov.me/CenterWeb/api
PORT=3000
